<template name="courseName">
  <div class="setting-item js-course-info courseID-{{id}}">
    <a><p class="item-word">
        {{text}}
        <span class="right {{icon}}"></span>
    </p></a>
  </div>
</template>

<template name="addCourse">
  <div class="page lists-show">

    <nav>
        <h1 class="title-page"><span class="title-wrapper">New Course</span></h1>
          <div class="nav-group">
            <a href="#" class="js-menu nav-item"><span class="icon-list-unordered" title="Show menu"></span></a>
          </div>

        {{#if showCourseList}}
          {{else}}
          <div class="nav-group right">
            <a class="js-page-back nav-item">
              <span class="icon-circle-left" title="Go Back"></span>
            </a>
          </div>
        {{/if}}

        <form class="js-course-new todo-new input-symbol">
          <span class="icon-add js-todo-add"></span>
          <input type="text" id="the-course-searcher"  placeholder="Type to search new course.">
        </form>


    </nav>

    <div class="content-scrollable list-items">
      {{#if showCourseList}}
      {{#each courses}}
        {{> courseName}}
      {{/each}}
<!-- Added by zhaozewei -->
      <button class="addCourseBtn js-diy-course">创建课程</button>
<!-- End -->

      {{else}}
      <h3 class="infoHead">
        {{courseNameForInfo}}
      </h3>
      <p class="infoParagraph"> {{courseInfo}}</p>
      <a class="addCourseBtn js-add-course">点击选课</a>
      {{/if}}
    </div>

  </div>
</template>
