* {
  input[type="course-searcher"],
  textarea {
    // Sizing
    .font-s2;
    .type-regular;
    padding: 0rem 0; //total height ~48
    line-height: 1.5rem !important;

    // Style
    .placeholder(@color-complementary);
    border: none;
    border-radius: 0;
    box-sizing: border-box;
    outline: none;
    background: transparent;
  }
}
