<template name="appBody">
  <div id="container" class="{{menuOpen}} {{cordova}}">

    <section id="menu">
      {{#if currentUser}}

        <div class="btns-group-vertical">
          <a href="#" class="js-user-menu btn-secondary">
            {{#if userMenuOpen}}
              <span class="icon-arrow-up"></span>
              {{else}}
              <span class="icon-arrow-down"></span>
            {{/if}}
            {{emailLocalPart}}
          </a>
          {{#if userMenuOpen}}
            <a class="js-setting btn-secondary">Setting</a>
            <a class="js-logout btn-secondary">Logout</a>
          {{/if}}
        </div>

        <div class="list-todos">
        {{#each lists}}
          <a href="{{pathFor 'listsShow'}}" class="list-todo {{activeListClass}}" title="{{coursename}}">
            {{#if userId}}
              <span class="icon-lock"></span>
            {{/if}}
            {{#if incompleteCount}}
              <span class="count-list">{{incompleteCount}}</span>
            {{/if}}
            {{coursename}}
          </a>
        {{/each}}
        <a class="js-new-list link-list-new"><span class="icon-plus"></span>New Course</a>
        <a> <form class="js-course-new">
          <span class="icon-plus"></span>
          <input type="course-searcher" id="the-course-searcher" placeholder="New Course">
        </form> </a> </div>
      {{/if}}

    </section>

    {{#unless connected}}
      <div class="notifications">
        <div class="notification">
          <span class="icon-sync"></span>
          <div class="meta">
            <div class="title-notification">Trying to connect</div>
            <div class="description">There seems to be a connection issue</div>
          </div>
        </div>
      </div>
    {{/unless}}

    {{#if currentUser}}
      <div class="content-overlay"></div>

      <div id="content-container">
        {{#each thisArray}}
          {{> yield}}
        {{/each}}
      </div>
    {{else}}
      <div class="content-overlay"></div>

      <div id="content-container" style="position:absolute;left:0px">
        {{#each thisArray}}
          {{> yield}}
        {{/each}}
      </div>
    {{/if}}
    </div>
</template>
