<!-- created by zhaozewei, course info page -->


<template name="courseInfo">
  <div id="infoPage" class="page lists-show">
    <nav class="js-title-nav">
      <div class="nav-group">
        <a href="#" class="js-menu nav-item"><span class="icon-list-unordered" title="Show menu"></span></a>
      </div>

      <h1 class="title-page"><span class="title-wrapper">{{GetName}}</span></h1>

      <div class="nav-group right">
        <a class="js-close-info nav-item">
          <span class="icon-cross" title="Close info page"></span>
        </a>
      </div>
    </nav>

    <div class="content-scrollable">
      <div class="infoParagraph">{{GetInfo}}</div>
    </div>
  </div>
</template>
