<!-- created by zhaozewei, new course page -->
<template name="DIYCourse">
  <div class="page lists-show">
    <nav class="js-title-nav">
      <div class="nav-group">
        <a href="#" class="js-menu nav-item"><span class="icon-list-unordered" title="Show menu"></span></a>
      </div>

      <h1 class="title-page"><span class="title-wrapper">自主添课</span></h1>

      <div class="nav-group right">
        <a class="js-close-notice nav-item">
          <span class="icon-cross" title="Close this page"></span>
        </a>
      </div>
    </nav>

    <div class="content-scrollable list-items">
      <div class="wrapper-notice">
        <div class="title-notice">TODO</div>
        <div class="content-notice">TODO</div>
      </div>
    </div>
  </div>
</template>
