<!-- created by zhaozewei, the template for a file item -->
<template name="fileItem">
  <div class="file-item ui item js-show-file">
    <div class="content">
      <div class="item-image">
        <!--<img class="ui image" src="http://img2.imgtn.bdimg.com/it/u=2871587561,1839644263&fm=21&gp=0.jpg">-->
        <!--img src="http://img3.imgtn.bdimg.com/it/u=3753587518,1412952621&fm=15&gp=0.jpg"-->
        <img src="http://121.42.173.75:9000/pdf.jpg">
      </div>
      <div class="item-words">
        <div class="item-title">{{filename}}</div>
        <div class="meta">
          <span class="cs-size">{{showFileSize filesize}}</span>
          <span class="cs-time">{{fileTime create_time}}</span>
        </div>
      </div>
    </div>
<!--
<div class="two ui buttons ">
  <div id="btn-download" class="ui button">
      <span class="icon-download3"></span>
      Download
  </div>
  <div id="btn-open" class="ui button">
      <span class="icon-file"></span>
      Open
  </div>
</div>
<div class="extra content">
    <div class="ui large transparent left input">
      <input placeholder="Add Comment..." type="text">
    </div>
</div>
-->
  </div>
</template>
<!--
<div class="ui items">
  <div class="item">
    <div class="image">
      <img src="/images/wireframe/image.png">
    </div>
    <div class="content">
      <a class="header">标题</a>
      <div class="meta">
        <span>Description</span>
      </div>
      <div class="description">
        <p></p>
      </div>
      <div class="extra">Additional Details </div>
    </div>
  </div>
  <div class="item">
    <div class="image">
      <img src="/images/wireframe/image.png">
    </div>
    <div class="content">
      <a class="header">标题</a>
      <div class="meta">
        <span>Description</span>
      </div>
      <div class="description">
        <p></p>
      </div>
      <div class="extra">Additional Details </div>
    </div>
  </div>
</div>
-->
