<!-- created by zhaozewei, the template for a file item -->
<template name="fileItem">
  <div class="file-item ui card js-show-file">
    <div class="image">
      <img class="ui image" src="http://p7.qhimg.com/dr/250_500_/t012fac8722d763cbd0.jpg">
    </div>
    <div class="content">
      <a>
        <!--<span class="icon-file-pdf-o" title="file"></span><span class="icon-file-word-o" title="file"></span><span class="icon-file-excel-o" title="file"></span><span class="icon-file-powerpoint-o" title="file"></span>-->
        <span class="item-word">{{setFile filename path}}</span>
        <!--<input type="text" value="{{text}}" placeholder="Task name">-->
      </a>
    </div>
<!--
<div class="two ui buttons ">
  <div id="btn-download" class="ui button">
      <span class="icon-download3"></span>
      Download
  </div>
  <div id="btn-open" class="ui button">
      <span class="icon-file"></span>
      Open
  </div>
</div>
<div class="extra content">
    <div class="ui large transparent left input">
      <input placeholder="Add Comment..." type="text">
    </div>
</div>
-->
  </div>
</template>
