<!-- created by zhaozewei, the template for a file item -->
<template name="fileItem">
  <div class="file-item ui card js-show-file">
<div class="content">
    <a>
<span class="icon-file-pdf-o" title="file"></span><span class="icon-file-word-o" title="file"></span><span class="icon-file-excel-o" title="file"></span><span class="icon-file-powerpoint-o" title="file"></span><span class="item-word">{{text}}</span><!--<input type="text" value="{{text}}" placeholder="Task name">-->
    </a>
</div>
<div class="image">
  <img class="ui image" src="http://p7.qhimg.com/dr/250_500_/t012fac8722d763cbd0.jpg">
</div>
<div class="two ui buttons ">
  <div id="btn-download" class="ui button">
      <span class="icon-download3"></span>
      Download
  </div>
  <div id="btn-open" class="ui button">
      <span class="icon-file"></span>
      Open
  </div>
</div>
<div class="extra content">
    <div class="ui large transparent left input">
      <input placeholder="Add Comment..." type="text">
    </div>
</div>
  </div>
</template>

<!--
<div class="ui card">
  <div class="content">
    <div class="right floated meta">14h</div>
    <img class="ui avatar image" src="/images/avatar/large/elliot.jpg"> Elliot
  </div>
  <div class="image">
    <img>
  </div>
  <div class="content">
    <span class="right floated">
      <i class="heart outline like icon"></i>
      17 likes
    </span>
    <i class="comment icon"></i>
    3 comments
  </div>
  <div class="extra content">
    <div class="ui large transparent left icon input">
      <i class="heart outline icon"></i>
      <input placeholder="Add Comment..." type="text">
    </div>
  </div>
</div>
-->
