.page.lists-show {
  .content-scrollable {
    background: @color-empty;
    top: 5em !important;

// added by zhaozewei
    .content-scrollable-l, .content-scrollable-r {
      //.position(absolute, 0, 0, 0, 0);
      .transform(translate3d(0, 0, 0));
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      height: 99%;
      width: 100%;

      @media screen and (min-width: 40em) {
        width: 48%;
        box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
        border: 1px solid rgba(34,36,38,.15);
      }
    }

    .content-scrollable-l {
      @media screen and (min-width: 40em) {
        float: left;
        margin-left: 1.2%;
        margin-right: 1%;
      }
    }

    .content-scrollable-r {
      @media screen and (min-width: 40em) {
        float: left;
        margin-left: 0.5%;
        margin-right: 0.5%;
      }
    }

// Display one part when the screen is small.
    @media screen and (max-width: 40em) {
      .content-scrollable-l { display: block; }
      .content-scrollable-r { display: none; }
    }
// Display both parts when the screen is large.
    @media screen and (min-width: 40em) {
      .content-scrollable-l { display: block !important; }
      .content-scrollable-r { display: block !important; }
    }
// end added
  }
}
