<template name="listsShow">
  <div class="page lists-show">
    <nav class="js-title-nav">
      {{#if editing}}
        <form class="js-edit-form list-edit-form">
          <input type="text" name="name" value="{{name}}">
          <div class="nav-group right">
            <a href="#" class="js-cancel nav-item"><span class="icon-close js-cancel" title="Cancel"></span></a>
          </div>
        </form>
      {{else}}
        <div class="nav-group">
          <a href="#" class="js-menu nav-item"><span class="icon-list-unordered" title="Show menu"></span></a>
        </div>

        <h1 class="js-edit-list title-page"><span class="title-wrapper">{{name}}</span></h1>

        <div class="nav-group right">
          <div class="nav-item options-mobile">
            <select class="list-edit">
              <option disabled selected>Select an action</option>
<!-- deleted by zhaozewei
              {{#if userId}}
                <option value="public">Make Public</option>
              {{else}}
                <option value="private">Make Private</option>
              {{/if}}
-->
              <option value="info">Course info</option>
              <option value="delete">Delete</option>
            </select>
            <span class="icon-cog"></span>
          </div>

          <div class="options-web">
<!-- TODO -->
<!-- changed by xujiahao, when click this icom, crouse info will be show -->
<!-- Action code has been added in lists-show.js -->
            <!-- <a class="js-toggle-list-privacy nav-item"> -->
            <a class="js-show-info nav-item">
<!--
              {{#if userId}}
                <span class="icon-lock" title="Make list public"></span>
              {{else}}
                <span class="icon-unlock" title="Make list private"></span>
              {{/if}}
-->
<!-- added by zhaozewei -->
              <span class="icon-info" title="Course information"></span>
<!-- end added -->
            </a>

            <a class="js-delete-list nav-item">
              <span class="icon-trash" title="Delete course"></span>
            </a>
          </div>
        </div>
      {{/if}}

<!-- deleted by zhaozewei -->
<!-- 临时性添加，便于加通知项 -->
      <form class="js-todo-new todo-new input-symbol">
        <input type="text" placeholder="Type to add new tasks">
        <span class="icon-add js-todo-add"></span>
      </form>
<!-- end deleted -->

<!-- added by zhaozewei
      <form class="js-todo-new todo-new input-symbol">
        <input type="text" placeholder="Search">
        <span class="icon-search-1 js-todo-add"></span>
      </form>
-->
<!-- added by zhaozewei -->
      <div class="am-btn-group">
        <button type="button" id="btn-notice" class="js-switch-notice am-btn am-btn-disabled am-btn-left" disabled="disabled">通知</button><button type="button" id="btn-file" class="js-switch-file am-btn am-btn-primary am-btn-right">文件</button>
      </div>
<!-- end added -->
    </nav>

    <div class="content-scrollable coursist-bg">

      {{#if showInfo}}
      <!-- 这里只是一个实验性页面，还有许多许多问题没有得到解决。
      整个页面信息保存在哪里？调用 CSS 优化等等都是问题。-->
      <h3 class="infoHead"> 软件工程简介 </h3>
      <p class="infoParagraph"> 软件工程（英语：Software Engineering[1]）1968年秋季，NATO（北約）的科技委員會召集了近50名一流的編程人員、計算機科學家和工業界巨頭，討論和制定擺脫“軟體危機”的對策。在那次會議上第一次提出了軟體工程（software engineering）這個概念，研究和应用如何以系统性的、规范化的、可定量的过程化方法去开发和维护软件，以及如何把经过时间考验而证明正确的管理技术和当前能够得到的最好的技术方法结合起来的学科。它涉及到程序设计语言、数据库、软件开发工具、系统平台、标准、设计模式等方面。</p>
      <p class="infoParagraph"> 在现代社会中，软件应用于多个方面。典型的软件比如有电子邮件、嵌入式系统、人机界面、办公套件、操作系统、编译器、数据库、游戏等。同时，各个行业几乎都有计算机软件的应用，比如工业、农业、银行、航空、政府部门等。这些应用促进了经济和社会的发展，提高人们的工作效率，同时提升了生活质量。 </p>
      <p class="infoParagraph"> 软件工程师是对应用软件创造软件的人们的统称，软件工程师按照所处的领域不同可以分为系统分析师、系统架构师、软件设计师、程序员、测试工程师、界面与交互设计师等等。人们也常常用程序员来泛指各种软件工程师。 </p>
<!-- edited by zhaozewei to split information and list-items -->
      {{else}}

<!-- edited by zhaozewei to divide the content into two parts: notices and files -->
<!-- notices part -->
        <div id="col-notice" class="content-scrollable-l white-bg">
          <!-- edited by zhaozewei, 折叠式菜单
          <div class="ui one cards no-margin"> -->
          <div class="ui styled fluid accordion">
            {{#if todosReady}}
              {{#with _id}} {{! Establish new data context with only the '_id'
                              field. This way, when the 'incompleteCount' field
                              changes, we don't re-render the list contents }}
                {{#each todos this}}
  <!-- edited by zhaozewei, use noticeItem instead
                  {{> todosItem}}-->
                  {{> noticeItem}}
                {{else}}
                  <div class="wrapper-message">
    <!-- edited by zhaozewei -->
                    <div class="title-message">No notices here</div>
                    <div class="subtitle-message">Why not have a rest and check later?</div>
    <!-- end edited -->
                  </div>
                {{/each}}
              {{/with}}
            {{else}}
                <div class="wrapper-message">
                  <div class="title-message">Loading...</div>
                </div>
            {{/if}}
          </div>
        </div>
<!-- files part -->
        <div id="col-file" class="content-scrollable-r white-bg">
          <div class="no-margin ui four cards">
            {{#if todosReady}}
              {{#with _id}} {{! Establish new data context with only the '_id'
                              field. This way, when the 'incompleteCount' field
                              changes, we don't re-render the list contents }}
                {{#each todos this}}
  <!-- edited by zhaozewei, use noticeItem instead
                  {{> todosItem}}-->
                  {{> fileItem}}
                {{else}}
                  <div class="wrapper-message">
    <!-- edited by zhaozewei -->
                    <div class="title-message">No files here</div>
                    <div class="subtitle-message">Why not have a rest and check later?</div>
    <!-- end edited -->
                  </div>
                {{/each}}
              {{/with}}
            {{else}}
                <div class="wrapper-message">
                  <div class="title-message">Loading...</div>
                </div>
            {{/if}}
          </div>
        </div>
  <!-- end edited -->
      {{/if}}
    </div>
  </div>
</template>
