<template name="listsShow">
  <div class="page lists-show">
    <nav class="js-title-nav">
      {{#if editing}}
        <form class="js-edit-form list-edit-form">
          <input type="text" name="coursename" value="{{coursename}}">
          <div class="nav-group right">
            <a href="#" class="js-cancel nav-item"><span class="icon-close js-cancel" title="Cancel"></span></a>
          </div>
        </form>
      {{else}}
        <div class="nav-group">
          <a href="#" class="js-menu nav-item"><span class="icon-list-unordered" title="Show menu"></span></a>
        </div>

        <h1 class="js-edit-list title-page"><span class="title-wrapper">{{coursename}}</span></h1>

        <div class="nav-group right">
          <div class="nav-item options-mobile">
            <select class="list-edit">
              <option disabled selected>Select an action</option>
<!-- deleted by zhaozewei
              {{#if userId}}
                <option value="public">Make Public</option>
              {{else}}
                <option value="private">Make Private</option>
              {{/if}}
-->
              <option value="info">Course info</option>
              <option value="delete">Delete</option>
            </select>
            <span class="icon-cog"></span>
          </div>

          <div class="options-web">
<!-- TODO -->
<!-- changed by xujiahao, when click this icom, crouse info will be show -->
<!-- Action code has been added in lists-show.js -->
            <!-- <a class="js-toggle-list-privacy nav-item"> -->
            <a class="js-show-info nav-item">
<!--
              {{#if userId}}
                <span class="icon-lock" title="Make list public"></span>
              {{else}}
                <span class="icon-unlock" title="Make list private"></span>
              {{/if}}
-->
<!-- added by zhaozewei -->
              <span class="icon-info" title="Course information"></span>
<!-- end added -->
            </a>

            <a class="js-delete-list nav-item">
              <span class="icon-trash" title="Delete course"></span>
            </a>
          </div>
        </div>
      {{/if}}

<!-- deleted by zhaozewei -->
<!--
      <form class="js-todo-new todo-new input-symbol">
        <input type="text" placeholder="Type to add new tasks">
        <span class="icon-add js-todo-add"></span>
      </form>
-->
<!-- end deleted -->

<!-- added by zhaozewei
      <form class="js-todo-new todo-new input-symbol">
        <input type="text" placeholder="Search">
        <span class="icon-search-1 js-todo-add"></span>
      </form>
-->
<!-- added by zhaozewei -->
      <div class="am-btn-group">
        <button type="button" id="btn-notice" class="js-switch-notice am-btn am-btn-disabled am-btn-left" disabled="disabled">通知</button><button type="button" id="btn-file" class="js-switch-file am-btn am-btn-primary am-btn-right">文件</button>
      </div>
<!-- end added -->
    </nav>

    <div class="content-unscrollable coursist-bg">

      {{#if showRecent this}}

        <div id="col-notice" class="content-scrollable-l white-bg">
          <section id="cd-timeline" class="cd-container">
          {{#with _id}} {{! Establish new data context with only the '_id'
                            field. This way, when the 'incompleteCount' field
                            changes, we don't re-render the list contents }}
            {{#if todosReady}}
                {{#each todos this}}
                  {{>recentNotice}}
                {{else}}
                  <p>no notice</p>
                {{/each}}
            {{/if}}
          {{/with}}
          </section>
        </div>

        <div id="col-file" class="content-scrollable-r white-bg">
          <section id="cd-timeline" class="cd-container">
          {{#with _id}} {{! Establish new data context with only the '_id'
                            field. This way, when the 'incompleteCount' field
                            changes, we don't re-render the list contents }}
            {{#if filelistReady}}
                {{#each filelist this}}
                  {{>recentFile}}
                {{else}}
                  <p>no file</p>
                {{/each}}
            {{/if}}
          {{/with}}
          </section>
        </div>

      {{else}}





<!-- edited by zhaozewei to divide the content into two parts: notices and files -->
  <!-- notices part -->
      <div id="col-notice" class="content-scrollable-l">
        <!-- edited by zhaozewei, 折叠式菜单
        <div class="ui one cards no-margin"> -->
        <div class="ui styled fluid accordion">
          {{#if todosReady}}
            {{#with _id}} {{! Establish new data context with only the '_id'
                            field. This way, when the 'incompleteCount' field
                            changes, we don't re-render the list contents }}
              {{#each todos this}}
  <!-- edited by zhaozewei, use noticeItem instead
                {{> todosItem}}-->
                {{> noticeItem}}
              {{else}}
                <div class="wrapper-message">
    <!-- edited by zhaozewei -->
                  <div class="title-message">尚无通知</div>
                  <div class="subtitle-message">过一会儿再来查看？</div>
    <!-- end edited -->
                </div>
              {{/each}}
            {{/with}}
          {{else}}
              <div class="wrapper-message">
                <div class="title-message">Loading...</div>
              </div>
          {{/if}}
        </div>
      </div>
  <!-- files part -->
      <div id="col-file" class="content-scrollable-r white-bg">
        <!--<div class="no-margin ui four cards">-->
        <div class="no-margin ui divided items">
    <!-- edited by zhaozewei, use filelist instead
          {{#if todosReady}} -->
          {{#if filelistReady}}
            {{#with _id}} {{! Establish new data context with only the '_id'
                            field. This way, when the 'incompleteCount' field
                            changes, we don't re-render the list contents }}
              {{#each filelist this}}
    <!-- edited by zhaozewei, use noticeItem instead
                {{> todosItem}}-->
                {{> fileItem}}
              {{else}}
                <div class="wrapper-message">
    <!-- edited by zhaozewei -->
                  <div class="title-message">尚无文件</div>
                  <div class="subtitle-message">休息一会？</div>
    <!-- end edited -->
                </div>
              {{/each}}
            {{/with}}
          {{else}}
              <div class="wrapper-message">
                <div class="title-message">Loading...</div>
              </div>
          {{/if}}
        </div>
      </div>
<!-- end edited -->
      {{/if}}
    </div>
  </div>
</template>
