<!-- created by zhaozewei, the template for a notice item -->
<template name="noticeItem">
  <span class="blue-point"></span>
  <div class="title">
    <div class="cs-title">{{notificationname}}</div>
    <div class="cs-time">{{noticeTime create_time}}</div>
  </div>
  <div class="content">
    <p class="item-word">{{description}}</p>
  </div>
  
  <!--<a>-->
    <!--<p class="item-word">{{text}}</p>-->
    <!--<input type="text" value="{{text}}" placeholder="Task name">-->
  <!--</a>-->
</template>
