// added by zhaozewei
  // Style of notice-item word
  .accordion .content .item-word {
    .flex(1);

    font-size: 14px;
    color: #333333;
    outline: none;
    background: transparent;
    
  }

  .blue-point {
      .transition( all 200ms ease-in );
      background: @color-primary;
      border-radius: .3em;
      height: .6em;
      width: .6em;
      float: left;
      margin-left: 0.5em;
      margin-right: 0.5em;
      margin-top: 1.15em;
  }
// end added
