<template name="recentFile">

  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-picture">
      <!-- <img src="img/cd-icon-picture.svg" alt="Picture"> -->
    </div>

    <div class="cd-timeline-content">
      <a><h2 class="js-show-file">{{showFileName filename}}</h2></a>

      <div class="image fileicon-ui">
        <img class="ui image" src={{FileIconPath filetype '/fileicon'}}>
      </div>
      
      <!--<p>{{description}}</p>-->
      <span class="cd-date">{{fileTime create_time}}</span>

    </div>
  </div>

</template>
