<!--
<template name="todosItem">
  <div class="list-item {{checkedClass}} {{editingClass}}">
    <label class="checkbox">
      <input type="checkbox" checked="{{checked}}" name="checked">
      <span class="checkbox-custom"></span>
    </label>

    <input type="text" value="{{text}}" placeholder="Task name">
    <a class="js-delete-item delete-item" href="#"><span class="icon-trash"></span></a>
  </div>
</template>

class="list-todo {{activeListClass}}"

-->

<!-- added by zhaozewei -->
<template name="todosItem">
  <div class="list-item">
    <span class="blue-point"></span>
    <!-- <input type="text" value="{{text}}" placeholder="Task name"> -->

    <!-- added by Sam -->
    <a href="http://www.baidu.com" target="_blank"><input type="text" value="{{text}}" placeholder="Task name" readonly="true"></a>
    <input type="text" value="" readonly="true">
    <!-- end added -->
<!-- deleted by zhaozewei-->
    <!--<a href="{{pathFor 'listsShow'}}" title="{{text}}">{{text}}</a>-->
    <!--<a class="js-delete-item delete-item" href="#"><span class="icon-trash"></span></a>-->
<!-- end deleted -->
  </div>
</template>
<!-- end added -->
