<template name="settingItem">
  <div class="setting-item {{jsAct}}">
    <span class="blue-point"></span>
    <a><p class="item-word">{{text}}</p></a>
  </div>
</template>

<template name="userSetting">
  <div class="page lists-show">
    <nav class="js-title-nav">
        <div class="nav-group">
          <a href="#" class="js-menu nav-item"><span class="icon-list-unordered" title="Show menu"></span></a>
        </div>

        <h1 class="title-page"><span class="title-wrapper">Setting</span></h1>
    </nav>
    <div class="content-scrollable list-items">

      <div class="setting-item js-page-back">
        <a><p class="item-word">后退</p></a>
      </div>

      {{#each settingItems}}
        {{> settingItem}}
      {{/each}}

    </div>

  </div>
</template>
