<template name="settingItem">
  <div class="setting-item {{jsAct}}">
    <a><p class="item-word">
        {{text}}
        {{#if input}}
          <input name={{input}} type={{inputType}} placeholder={{inputPlaceHolder}} />
        {{/if}}
        <span class="right {{icon}}"></span>
    </p></a>
  </div>
</template>

<template name="userSetting">
  <div class="page lists-show">

    <nav>
        <h1 class="title-page"><span class="title-wrapper">Setting</span></h1>
        <div class="nav-group">
          <a href="#" class="js-menu nav-item"><span class="icon-list-unordered" title="Show menu"></span></a>
        </div>
        <div class="nav-group right">
          <a class="js-page-back nav-item">
            <span class="icon-circle-left" title="Go Back"></span>
          </a>
        </div>
    </nav>

    <div class="content-scrollable list-items">
      {{#each settingItems}}
        {{> settingItem}}
      {{/each}}
    </div>

  </div>
</template>
