<template name="userSetting">
  <div class="page lists-show">
    <nav class="js-title-nav">
        <div class="nav-group">
          <a href="#" class="js-menu nav-item"><span class="icon-list-unordered" title="Show menu"></span></a>
        </div>

        <h1 class="title-page"><span class="title-wrapper">Setting</span></h1>

      <form class="js-todo-new todo-new input-symbol">
      </form>
    </nav>
    <!-- 菜单项目
    账号
        邮箱
        学号
        密码
            更改密码
    通知
    隐私
    通用
        背景
    帮助&反馈
    关于 -->
    <div class="content-scrollable list-items">

      {{#if allSetting}}
      <!-- 由于某些设置项目具有不同的 class，所以没有用 helper 填充的方式简写。 -->
      <div class="list-item js-set-account"><a target="_blank"><span class="blue-point"></span>
        <input type="text" value="账号" readonly="true"> </a>
      </div>
      <div class="list-item"><a target="_blank"><span class="blue-point"></span>
        <input type="text" value="通知" readonly="true"> </a>
      </div>
      <div class="list-item"><a target="_blank"><span class="blue-point"></span>
        <input type="text" value="隐私" readonly="true"> </a>
      </div>
      <div class="list-item js-set-others"><a target="_blank"><span class="blue-point"></span>
        <input type="text" value="通用" readonly="true"> </a>
      </div>
      <div class="list-item"><a target="_blank"><span class="blue-point"></span>
        <input type="text" value="帮助与反馈" readonly="true"> </a>
      </div>
      <div class="list-item"><a target="_blank"><span class="blue-point"></span>
        <input type="text" value="关于" readonly="true"> </a>
      </div>
      {{/if}}

      {{#if settingAccount}}
      <div class="list-item"><a target="_blank"><span class="blue-point"></span>
        <input type="text" value="邮箱" readonly="true"> </a>
      </div>
      <div class="list-item"><a target="_blank"><span class="blue-point"></span>
        <input type="text" value="学号" readonly="true"> </a>
      </div>
      <div class="list-item js-set-password"><a target="_blank"><span class="blue-point"></span>
        <input type="text" value="密码" readonly="true"> </a>
      </div>
      {{/if}}

      {{#if settingPassword}}
      <div class="list-item js-set-password"><a target="_blank"><span class="blue-point"></span>
        <input type="text" value="更改密码" readonly="true"> </a>
      </div>
      {{/if}}

      {{#if settingOthers}}
      <div class="list-item js-set-password"><a target="_blank"><span class="blue-point"></span>
        <input type="text" value="背景" readonly="true"> </a>
      </div>
      {{/if}}

    </div>

  </div>
</template>
